<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Top of the Poops | Beaches</title>
    <meta name="description" content="Analysing sewage dumps by water companies">

    {{> chunks/meta-styles }}
    {{> chunks/meta-scripts }}

    <link rel="stylesheet" href="/assets/css/leaflet.css"/>
    <script src="/assets/js/leaflet-1.9.3/leaflet.js"></script>

    {{> components/meta-opengraph title="Beaches" }}

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
{{> chunks/title }}
<div class="container">
    <div class="row">
        <div class="col">
            <p class="display-4">Clean English Beaches?</p>
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <div id="map-beaches" class="sewage-map  justify-content-md-center"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{#> components/section title=(concat "Beaches Ranked for " year)}}

                <p>Here are all the beaches in England and Wales that had sewage overflows in 2021</p>

                <table id="table-beach" data-id="beach" class="table table-striped"
                       style="width: 100%">
                    <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Beach</td>
                        <td>Company</td>
                        <td>Sewage Dumps</td>
                        <td>Duration</td>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each beachRankings}}
                        <tr>
                            <td>{{this.rank}}</td>
                            <td>{{this.beach}}</td>
                            <td>{{this.company}}</td>
                            <td>{{this.count}}</td>
                            <td>{{this.duration.toHours}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{/components/section}}
        </div>
    </div>
</div>

<script>
    new DataTable('#table-beach',
            {
                pageLength: 20,
                dom: "<'row'<'col-md-8'p><'col-md-4'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i>>"
            });
</script>

<script type="module">
    import * as Plot from "https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6/+esm";

    const chart = (data, countries) => document.getElementById("map-beaches").appendChild(
            Plot.plot(
                    {
                        projection: {
                            type: "mercator",
                            domain: {
                                type: "MultiPoint",
                                coordinates: [[-6, 49.9], [1.8, 55.9]],
                            },
                        },
                        width: 800,
                        r: {range: [10, 45], domain: [100, 8700]},
                        color: {
                            type: "linear",
                            range: ["steelblue", "#b47846"] // uses d3.interpolateRgb
                        },
                        marks: [
                            Plot.geo(
                                    countries,
                                    {
                                        fill: "rgb(5,118,11)",
                                        fillOpacity: 0.1,
                                        stroke: "#000000",
                                        strokeWidth: 2,
                                        strokeOpacity: 0.2,
                                    }
                            ),
                            Plot.dot(
                                    data,
                                    {
                                        x: "lon",
                                        y: "lat",
                                        r: "total_spill_hours",
                                        fill: "total_spill_hours",
                                        opacity: 0.5,
                                        mixBlendMode: "multiply",
                                        title: d => `${d.bathing} - ${d.total_spill_hours} hours of sewage in 2021`,
                                    }
                            )
                        ]
                    }
            )
    )

    const beaches = await fetch("/data/v1/2021/spills-by-beach.json");
    const countries = await fetch("/data/v1/2021/geo/countries.json")
    if (beaches.ok && countries.ok) {
        chart(await beaches.json(), await countries.json())
    }
</script>

<div id="footer" class="container">
    <div class="row">
        <div class="col">{{> chunks/data-sources }}</div>
    </div>
    <div class="row">
        <div class="col">{{> chunks/copyright }}</div>
    </div>
</div>
</body>
</html>