<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Top of the Poops | Beaches</title>
    <meta name="description" content="Analysing sewage dumps by water companies">

    {{> chunks/favicons }}
    {{> chunks/meta-styles }}
    {{> chunks/meta-scripts }}

    <link rel="stylesheet" href="/assets/css/leaflet.css"/>
    <script src="/assets/js/leaflet-1.9.3/leaflet.js"></script>

    {{> components/meta-opengraph title="Beaches"
            twitterImageUri=share.twitterImageUri
    }}

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
{{> chunks/navbar }}

{{#> components/jumbotron }}
    There were at least <em>{{numberFormat totalCount}}</em> "sewage spills"
    on to designated bathing areas in {{year}}, lasting a staggering
    {{numberFormat totalDuration.toHours}} hours
{{/components/jumbotron}}

<div class="container">
    <div class="row">
        <div class="col ">
            <div id="map" class="map">
                <div style="display:none" data-map-attribution>
                    &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors <br/>
                    Contains OS Data &copy; Crown copyright &amp; database right 2021-2023<br/>
                    &copy; <a href="https://top-of-the-poops.org">Top of the Poops</a> 2021-2023
                </div>
            </div>
            <small class="desktop-only">Double click on map to zoom. Double click on beach to see beach page</small>
            <small class="mobile-only">Use two fingers to move the map. Double-tap on beach to see beach page</small>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{#> components/section title="Who is polluting beaches the most?"}}

                <p><b>Please note</b> Dwr Cymru Welsh Water did not release this bathing information, that we can find,
                    so we retrofitted it using previous
                    CSO to Bathing area information.</p>

                <div class="table-responsive">
                    <table id="table-polluter" class="table table-spills table-striped">
                        <thead>
                        <tr>
                            <td>Rank</td>
                            <td>Company</td>
                            <td>Sewage Overflows</td>
                            <td>Change</td>
                            <td>Total Duration (Hours)</td>
                            <td>Change</td>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each polluterRankings}}
                            <tr>
                                <td class="align-middle">{{this.rank}}</td>
                                <td class="align-middle"><a href="{{this.company.uri}}">{{this.company.name}}</a></td>
                                <td class="align-middle">{{numberFormat this.count}}</td>
                                <td class="align-middle {{>components/class-delta this.countDelta}}">{{numberFormat
                                        this.countDelta.value}}</td>
                                <td class="align-middle">{{numberFormat this.duration.toHours}}</td>
                                <td class="align-middle {{>components/class-delta this.durationDelta}}">{{numberFormat
                                        this.durationDelta.hours}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/components/section}}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{#> components/section title=(concat "Beaches Ranked for " year)}}

                <p>Here are all the beaches in England and Wales that had sewage overflows in {{year}}</p>

                <div class="table-responsive">
                    <table id="table-beach" data-id="beach" class="table table-spills table-striped">
                        <thead>
                        <tr>
                            <td>Rank</td>
                            <td>Beach</td>
                            <td>Company</td>
                            <td>Sewage Dumps</td>
                            <td>Change</td>
                            <td>Duration (Hours)</td>
                            <td>Change</td>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each beachRankings}}
                            <tr>
                                <td class="align-middle">{{this.rank}}</td>
                                <td class="align-middle"><a href="{{this.beach.uri}}">{{this.beach.name}}</a></td>
                                <td class="align-middle"><a href="{{this.company.uri}}">{{this.company.name}}</a></td>
                                <td class="align-middle">{{numberFormat this.count.count}}</td>
                                <td class="align-middle {{>components/class-delta this.countDelta}}">{{numberFormat
                                        this.countDelta.value}}</td>
                                <td class="align-middle">{{numberFormat this.duration.hours}}</td>
                                <td class="align-middle {{>components/class-delta this.durationDelta}}">{{numberFormat
                                        this.durationDelta.hours}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/components/section}}
        </div>
    </div>
</div>

<script>
    new DataTable('#table-beach',
            {
                pageLength: 20,
                dom: "<'row'<'col-md-8'p><'col-md-4'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i>>"
            });
</script>

<script type="module">

    if ( L.Browser.mobile ) {
        Array.from(document.getElementsByClassName("desktop-only")).forEach(it => it.remove())
    }
    else {
        Array.from(document.getElementsByClassName("mobile-only")).forEach(it => it.remove())
    }

    const toKebabCase = str =>
            str &&
            str
                    .match(/[A-Z]{2,}(?=[A-Z][a-z]+[0-9]*|\b)|[A-Z]?[a-z]+[0-9]*|[A-Z]|[0-9]+/g)
                    .map(x => x.toLowerCase())
                    .join('-');

    const myStyle = {
        "color": "#ff7800",
        "weight": 5,
        "opacity": 0.65
    };

    const map = L.map("map", {
        scrollWheelZoom: false,
        dragging: !L.Browser.mobile,
        tap: !L.Browser.mobile,
        maxZoom: 15.5,
    });

    map.fitBounds([
        [49.674737880665994, -6.064453125000001],
        [56.029087419764366, 1.9555664062500002]
    ])

    L.tileLayer(
            'https://maps.top-of-the-poops.org/styles/v1/{z}/{x}/{y}.png',
            {
                attribution: document.getElementById("map").querySelector("[data-map-attribution]").innerHTML
            }
    )
            .addTo(map);

    const navigateToBathing = (bathing) => {
        window.location = `/beach/${toKebabCase(bathing)}`;
    }

    const response = await fetch("/data/v1/{{year}}/spills-by-beach.json")
    if (response.ok) {
        const beaches = await (response.json())
        beaches
                .map(it => L.circleMarker([it.lat, it.lon], {
                            color: "#498940",
                            fillColor: "#942c2c",
                            fillOpacity: 0.5,
                            mixBlendMode: "multiply",
                            radius: 10,
                        })
                                .bindTooltip(`${it.bathing} - ${it.total_spill_hours} hours`)
                        .on("dblclick", e => navigateToBathing(it.bathing) )
                )
                .forEach(it => it.addTo(map))
    }
</script>

<div class="container">
    <div class="row">
        <div class="col">{{> chunks/data-sources }}</div>
    </div>
</div>

{{> chunks/footer }}
</body>
</html>