<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Top of the Poops | Company | {{ name }}</title>
    <meta name="description" content="Analysing sewage dumps by {{ name }}">

    {{> chunks/favicons }}
    {{> chunks/meta-styles }}
    {{> chunks/meta-scripts }}

    {{> components/meta-opengraph title=(concat "Company | " name) }}

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
{{> chunks/title }}

<div class="container-fluid">
    <div class="row justify-content-md-center  align-items-center">
        <div class="col-md-4 offset-md-1">
            <div class="row">
                <div class="col">
                    <div class="display-3">{{ name }}</div>

                    <p>{{ name }} was responsible for {{numberFormat summary.spillCount }} sewage overflows
                        in {{ summary.year }}</p>

                    <p>These lasted for {{numberFormat summary.duration.toHours}} hours - in {{numberFormat
                            summary.locationCount}} different locations across their service area</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{> components/share-facebook share}}
                    {{> components/share-twitter share}}
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <img style="width: 100%; height: auto; min-height: 300px;" src="{{ csoUri }}"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            {{#> components/section title="More information on the way..." }}
                <p>We've been pretty busy on the new site layout - more information about water companies coming soon</p>
            {{/components/section}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            {{#> components/section title="Water Companies" }}
            {{/components/section}}
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4">
        {{#each links}}
            {{> components/card-company this.company}}
        {{/each}}
    </div>
</div>


<div id="footer" class="container">
    <div class="row">
        <div class="col">{{> chunks/data-sources }}</div>
    </div>
    <div class="row">
        <div class="col">{{> chunks/copyright }}</div>
    </div>
</div>


</body>
</html>