<html>
<head>
    <title>Constituency - {{ name.value }}</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-8">

        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Totals for {{ name.value }} in 2021</div>
                <div class="card-body">
                    <div class="card-title h5">{{summary.locationCount}} Sites polluted by {{join summary.companies ', '}}</div>
                    <div class="card-text">
                        {{summary.count}} sewage dumps<br>
                        <span class="spill-hours">{{summary.duration.toHours}} h </span>duration<br>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Take Action</div>
                <div class="card-body">
                    <div class="card-text">
                        {{> components/share-facebook }}
                        {{> components/share-twitter uri=name.value text="Hello" tags=["sewage","blah"] via="sewageuk"}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Explore</div>
                <div class="card-body">For information on pollution by <b>
                    <a class="card-link" href="/">River</a></b>, <b>
                    <a class="card-link" href="/">Beach</a></b> or see the worst pollution hot-spots see our
                    <a class="card-link" href="/">Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            {{#> components/section title="Pollution Summary"}}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Company</th>
                            <th>Waterway</th>
                            <th>Site</th>
                            <th>Sewage Dumps</th>
                            <th>Duration</th>
                            <th>Reporting %</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#each csos}}
                                <tr>
                                    <td>{{this.cso.company}}</td>
                                    <td>{{this.cso.waterway}}</td>
                                    <td>{{this.cso.sitename}}</td>
                                    <td>{{this.count}}</td>
                                    <td>{{this.duration.toHours}}</td>
                                    <td>{{this.reporting}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/components/section}}
        </div>
    </div>
</div>

</body>
</html>