<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Top of the Poops | Constituency - Live Data | {{ constituency.name }}</title>
    <meta name="description" content="Live sewage dump information for {{ constituency.name }}">

    {{> chunks/favicons }}
    {{> chunks/meta-styles }}
    {{> chunks/meta-scripts }}
    {{> chunks/meta-leaflet }}

    <link rel="canonical" href="{{ uri  }}"/>

    <!-- Custom Styles -->
    <style>
        .map {
            min-height: 500px;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        .card {
            transition: all 0.3s ease;
            border: none;
        }
    </style>

    {{> components/meta-opengraph
            title=(concat "Live Sewage | " constituency.name " | " (numberFormat summary.duration.hours) " hours so far this year")
            twitterImageUri=share.twitterImageUri
    }}
</head>
<body>
{{> chunks/navbar }}

{{#> components/jumbotron }}
    <div class="text-center">
        <h1 class="display-4 fw-bold">{{ constituency.name }} - Live Sewage</h1>
        <p class="lead fs-4">
            Polluted by sewage <span class="badge bg-danger fs-5">{{numberFormat summary.duration.hours}} hours</span>
            this year
            {{#gt summary.duration.years 1}}
                - That's <em class="text-danger fw-bold">{{numberFormat summary.duration.years}} years</em>
            {{/gt}}
            so far...
        </p>
    </div>
{{/components/jumbotron}}

<div class="container-fluid py-4">
    <div class="row g-4">
        <div class="col-md-8">
            <div class="card border-0 shadow-sm">
                <div class="card-body p-0">
                    <div id="map" class="map">
                        <div style="display:none" data-map-attribution>
                            &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors
                            <br/>
                            Contains OS Data &copy; Crown copyright &amp; database right 2021-2024<br/>
                            &copy; <a href="https://top-of-the-poops.org">Top of the Poops</a> 2021-2024
                        </div>
                    </div>
                    <div style="display: none" id="map-geojson">{{geojson}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col">
                    <div class="card border-0 shadow-sm mb-4">
                        <div class="card-header bg-primary text-white">
                            <h2 class="h5 mb-0"><i class="bi bi-geo-alt-fill me-2"></i>Select Another Constituency</h2>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label class="form-label fw-bold">Constituency</label>
                                    <select class="form-select form-select-lg mb-2" name="constituency"
                                            id="constituency-select">
                                        {{#each constituencies}}
                                            <option value="{{this.uri}}" {{#if this.current}}selected{{/if}}>{{#if
                                                    this.live}}
                                                ✔ {{else}}𝑥 {{/if}}{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                    <script>
                                        document.getElementById("constituency-select")
                                                .onchange = (e) => {
                                            window.location = e.target.value;
                                            return false;
                                        }
                                    </script>
                                    <div class="form-text mb-1"><i class="bi bi-info-circle me-1"></i>Select the
                                        constituency
                                        from the drop-down
                                    </div>
                                    <div class="form-text">✔ means we have live data (𝑥 if not)</div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0 shadow-sm mb-4">
                            <div class="card-header bg-primary text-white">
                                <h2 class="h5 mb-0"><i class="bi bi-megaphone-fill me-2"></i>Take Action</h2>
                            </div>
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="me-2">
                                        <i class="bi bi-person-fill fs-4 text-primary"></i>
                                    </div>
                                    <div>
                                        <p class="mb-0">Your local MP is <a href="{{mp.uri}}"
                                                                            class="fw-bold">{{mp.name}}</a>
                                            ({{mp.party}}) - Find out more
                                            about their interests, donors, and voting at <a href="{{mp.uri}}">They
                                                Work For
                                                You</a></p>
                                    </div>
                                </div>

                                {{#if share}}
                                    <div class="d-flex gap-2">
                                        {{> components/share-social share}}
                                    </div>
                                {{/if}}

                            </div>
                        </div>
                    </div>
                    <div class="card border-0 shadow-sm mb-4">
                        <div class="card-header bg-primary text-white">
                            <h2 class="h5 mb-0"><i class="bi bi-megaphone-fill me-2"></i>View Annual Sewage Data</h2>
                        </div>
                        <div class="card-body">
                            <a href="{{constituency.uri}}" class="text-decoration-none">
                                <button class="btn btn-danger">
                                    <i class="bi bi-info-circle-fill me-1"></i>Switch to Annual Information
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0 shadow-sm mb-4">
                            <div class="card-header bg-primary text-white">
                                <h2 class="h5 mb-0"><i class="bi bi-geo-alt-fill me-2"></i>Constituencies
                                    near {{constituency.name}}
                                </h2>
                            </div>
                            <div class="card-body">
                                <div class="d-flex flex-wrap gap-2">
                                    {{#each neighbours}}
                                        <a href="{{this.uri}}" class="text-decoration-none">
                                            <button class="btn btn-outline-secondary">
                                                <i class="bi bi-geo-fill me-1"></i> {{this.name}}
                                            </button>
                                        </a>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col">
            {{> chunks/plea }}
        </div>
    </div>

    <div class="table-responsive">
        <table id="table-csos" class="table table-hover">
            <thead class="table-light">
            <tr>
                <th>Company</th>
                <th>CSO ID</th>
                <th class="text-end">Overflow Days</th>
                <th>Total Duration (hours)</th>
                <th class="text-end">Total Duration (days)</th>
            </tr>
            </thead>
            <tbody>
            {{#each csos}}
                <tr data-class="cso" data-lat="{{this.location.lat}}" data-lon="{{this.location.lon}}">
                    <td data-company="{{this.company.name}}">
                        <i class="bi bi-building me-1 text-muted"></i>
                        <a href="{{this.company.uri}}">{{this.company.name}}</a>
                    </td>
                    <td data-id="{{this.id}}">{{this.id}}</td>

                    <td class="text-end" data-count="{{this.days.count}}">{{numberFormat this.days.count}}</td>
                    <td data-duration="{{this.duration.hours}}" data-order="{{this.duration.hours}}">{{numberFormat this.duration.hours}}h {{#if this.duration.minutes}}{{this.duration.minutes}}m{{/if}}</td>
                    <td class="text-end" >{{numberFormat this.duration.days}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">{{> chunks/data-sources }}</div>
    </div>
</div>

{{> chunks/footer }}

<script>

    const formatNumber = (n, m) => n.toLocaleString(undefined, {
        minimumFractionDigits: m ? m : 0,
        maximumFractionDigits: m ? m : 0
    });

    const myStyle = {
        "color": "#ff7800",
        "weight": 5,
        "opacity": 0.65
    };

    const map = L.map("map", {
        scrollWheelZoom: false,
        dragging: !L.Browser.mobile,
        tap: !L.Browser.mobile,
        maxZoom: 18,
    });

    var gl = L.maplibreGL({
        style: 'https://top-of-the-poops.org/tiles/styles/v2/style.json',
        attribution: document.getElementById("map").querySelector("[data-map-attribution]").innerHTML
    }).addTo(map);
    const layer = L.geoJSON(JSON.parse(document.getElementById("map-geojson").textContent), {style: myStyle});
    layer.addTo(map);
    map.fitBounds(layer.getBounds());


    const attr = (a, tr) => {
        const attributeName = `data-${a}`
        const f = tr ? tr : (n => n);
        return n => f(n.attributes[attributeName].value)
    };

    const markerIcon = (colour) => {
        return L.icon({
            iconUrl: `/assets/icons/leaflet/marker-icon-${colour}.png`,
            iconRetinaUrl: `/assets/icons/leaflet/marker-icon-2x-${colour}.png`,
            iconAnchor: [5, 55],
            popupAnchor: [10, -44],
            iconSize: [25, 41]
        })
    }

    const markerBlue = markerIcon("blue")
    const markerRed = markerIcon("red")

    const durationIcon = (n) => {
        return n > 100 ? markerRed : markerBlue;
    }

    const lat = attr("lat", Number)
    const lon = attr("lon", Number)

    const company = attr("company")
    const id = attr("id")
    const count = attr("count", Number)
    const duration = attr("duration", Number)

    Array.from(document.getElementById("table-csos").querySelectorAll("tr[data-class='cso']"))
            .map(it => {
                return {
                    lat: lat(it),
                    lon: lon(it),
                    id: id(it.querySelector("[data-id]")),
                    company: company(it.querySelector("[data-company]")),
                    count: count(it.querySelector("[data-count]")),
                    duration: duration(it.querySelector("[data-duration]")),
                }
            })
            .forEach(it => {
                L.marker(
                        [it.lat, it.lon],
                        {icon: durationIcon(it.duration)}
                ).bindTooltip(
                        `${it.id}<br/><br/>${formatNumber(it.count)} Dumps / ${formatNumber(it.duration)} hours by ${it.company}`
                ).addTo(map)
            })

</script>

<script>
    new DataTable('#table-csos', {
        pageLength: 25,
        dom: "<'row'<'col-md-8'p><'col-md-4'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i>>"
    });
</script>

</body>
</html>
