<html>
<head>
    <title>Constituency - {{ name.value }}</title>
    <link rel="stylesheet" href="/assets/css/leaflet.css"/>
    <script src="/assets/js/leaflet-1.9.3/leaflet.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div id="map" class="map"></div>
            <div style="display: none" id="map-geojson">{{geojson}}</div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Totals for {{ name.value }} in {{summary.year}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{summary.locationCount}} Sites polluted by {{join summary.companies ', '}}</h5>
                    <div class="card-text">
                        {{summary.count}} sewage dumps<br>
                        <span class="spill-hours">{{summary.duration.toHours}} h </span>duration<br>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Take Action</div>
                <div class="card-body">
                    <div class="card-text">
                        {{> components/share-facebook uri=uri}}
                        {{> components/share-twitter uri=uri text="Hello" tags=["sewage","blah"] via="sewageuk"}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Explore</div>
                <div class="card-body">For information on pollution by <b>
                    <a class="card-link" href="/">River</a></b>, <b>
                    <a class="card-link" href="/">Beach</a></b> or see the worst pollution hot-spots see our
                    <a class="card-link" href="/">Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            {{#> components/section title=(concat "Pollution Summary " summary.year)}}

                <p>Here are all the reported sewage overflow totals for {{ name.value }} in {{ summary.year }}. Sometimes sewage can be being dumped for <b>months</b> at a time.</p>

                <div class="table-responsive">
                    <table id="table-csos" class="table">
                        <thead>
                        <tr>
                            <th>Company</th>
                            <th>Waterway</th>
                            <th>Site</th>
                            <th>Sewage Dumps</th>
                            <th>Duration</th>
                            <th>Reporting %</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each csos}}
                            <tr data-class="cso" data-lat="{{this.cso.location.lat}}"
                                data-lon="{{this.cso.location.lon}}">
                                <td>{{this.cso.company}}</td>
                                <td>{{this.cso.waterway}}</td>
                                <td data-sitename="{{this.cso.sitename}}">{{this.cso.sitename}}</td>
                                <td data-count="{{this.count}}">{{this.count}}</td>
                                <td data-duration="{{this.duration.toHours}}">{{this.duration.toHours}}</td>
                                <td>{{this.reporting}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/components/section}}
        </div>
    </div>
</div>

<script>
    const myStyle = {
        "color": "#ff7800",
        "weight": 5,
        "opacity": 0.65
    };

    const map = L.map("map", {scrollWheelZoom: false,});

    L.tileLayer(
            'https://maps.top-of-the-poops.org/styles/v1/{z}/{x}/{y}.png',
            {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors <br/>Contains OS Data &copy; Crown copyright &amp; database right 2021<br/>&copy; <a href="https://top-of-the-poops.org">Top of the Poops</a> 2020'
            }
    )
            .addTo(map);

    const layer = L.geoJSON(JSON.parse(document.getElementById("map-geojson").textContent), {style: myStyle});
    layer.addTo(map);
    map.fitBounds(layer.getBounds())

    const attr = (a, tr) => {
        const f = tr ? tr : (n => n);
        return n => f(n.attributes[`data-${a}`].value)
    };

    const markerIcon = (colour) => {
        return L.icon({
            iconUrl: `/assets/icons/leaflet/marker-icon-${colour}.png`,
            iconRetinaUrl: `/assets/icons/leaflet/marker-icon-2x-${colour}.png`,
            iconAnchor: [5, 55],
            popupAnchor: [10, -44],
            iconSize: [25, 41]
        })
    }

    const markerBlue = markerIcon("blue")
    const markerRed = markerIcon("red")

    const durationIcon = (n) => n > 700 ? markerRed : markerBlue;

    const lat = attr("lat", Number)
    const lon = attr("lon", Number)
    const sitename = attr("sitename")
    const count = attr("count", Number)
    const duration = attr("duration", Number)

    Array.from(document.getElementById("table-csos").querySelectorAll("tr[data-class='cso']"))
            .map(it => {
                return {
                    lat: lat(it),
                    lon: lon(it),
                    sitename: sitename(it.querySelector("[data-sitename]")),
                    count: count(it.querySelector("[data-count]")),
                    duration: duration(it.querySelector("[data-duration]"))
                }
            })
            .map(it => {
                return {
                    lat: it.lat, lon: it.lon, duration: it.duration,
                    text: `${it.sitename}<br/>xxx<br/>${it.count} Dumps / ${it.duration} hours`
                }
            })
            .map(it => L.marker([it.lat, it.lon], {icon: durationIcon(it.duration)}).bindTooltip(it.text))
            .forEach(it => it.addTo(map))
</script>
</body>
</html>