<html>
<head>

</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-md-center align-items-center">
        <div class="col-md-4 offset-md-1 sewage-map">

        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col">
                    <p>Here are all the CSOs in England and Wales that 'overflowed' in 2021 - dumping raw or
                        minimally treated sewage into fragile chalk streams, rivers, onto beaches and into shellfish
                        areas</p>
                    <p>Each colour represents a different Water Company, the size of each dot relates to how long each
                        overflow was polluting</p>
                    <p>The figures, supplied by the water companies themselves, understate the problem, as the data is
                        poorly collected by the
                        Water Companies, with monitoring defective or in many cases completely absent. Many recordings
                        of data
                        don't seem to be associated with a valid permit, so it is impossible to know where they are.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{> components/share-facebook uri=uri}}
                    {{> components/share-twitter uri=uri text="Hello" tags=["sewage","blah"] via="sewageuk"}}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                {{#> components/section title="Consituency Sewage" }}

                    <div id="map-constituency"></div>

                    <table id="table-constituency" data-id="constituency" class="table table-striped"
                           style="width: 100%">
                        <thead>
                        <tr>
                            <td>Rank</td>
                            <td>Constituency</td>
                            <td>MP</td>
                            <td>MP Contact</td>
                            <td>MP Info</td>
                            <td>MP Party</td>
                            <td>Company</td>
                            <td>Sewage Dumps</td>
                            <td>Change</td>
                            <td>Duration</td>
                            <td>Change</td>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each rankings}}
                            <tr>
                                <td>{{this.rank}}</td>
                                <td><a href="{{this.constituencyUri}}">{{this.constituencyName}}</a></td>
                                <td>{{this.mp.name}}</td>
                                <td>@@</td>
                                <td><a href="{{this.mp.uri}}">Info</a></td>
                                <td>{{this.mp.party}}</td>
                                <td>{{this.company}}</td>
                                <td>{{this.count}}</td>
                                <td>{{this.countDelta}}</td>
                                <td>{{this.duration.toHours}}</td>
                                <td>{{this.durationDelta.toHours}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                {{/components/section}}
            </div>
        </div>
    </div>

</div>

<script>
    new DataTable('#table-constituency',
            {
                dom: "<'row'<'col-md-8'p><'col-md-4'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i>>"
            });
</script>

<script>
    const map = L.map("map-constituency", {scrollWheelZoom: false,});

    fetch("/data/v1/")

    const layer = L.geoJSON(JSON.parse(document.getElementById("map-geojson").textContent), {style: myStyle});
    layer.addTo(map);
    map.fitBounds(layer.getBounds())


</script>

</body>
</html>