<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Top of the Poops | Rivers</title>
    <meta name="description" content="Analysing sewage dumps by water companies">

    {{> chunks/favicons }}
    {{> chunks/meta-styles }}
    {{> chunks/meta-scripts }}

    {{> components/meta-opengraph title="Rivers" }}

</head>
<body>
{{> chunks/navbar }}

{{#> components/jumbotron }}
    There were at least <em>{{numberFormat totalCount}}</em> "sewage spills"
    into rivers in {{year}}, lasting an almost unbelievable
    {{numberFormat totalDuration.toHours}} hours
{{/components/jumbotron}}

<div class="container">
    <div class="row ">
        <div class="col d-flex justify-content-center">
            <img alt="An image showing the river network in England and Wales, highlighting those polluted with sewage" style="max-height: 800px" src="/assets/images/top-of-the-poops-rivers-2021.png"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{#> components/section title=(concat "Rivers Ranked for " year)}}

                {{#if showingSummary}}
                    <p>Here are the top rivers in England and Wales that had sewage overflows in {{year}}. As the list
                        is
                        grouped by company, some rivers
                        may feature more than once, being polluted by different companies along their length.</p>

                    <p>The full list is quite long. You can access that <a href="{{showAllUri}}">
                        <button class="btn btn-primary">here</button>
                    </a></p>
                {{else}}
                    <p>Here are all the rivers in England and Wales that had sewage overflows in {{year}}. As the list
                        is
                        grouped by company, some rivers
                        may feature more than once, being polluted by different companies along their length.</p>
                {{/if}}

                <p>As there are different rivers with the same name in different parts of the country, it didn't seem
                    sensible to group by river name alone.</p>

                <p>The category of "river" is made by the water companies in their "Consent to Discharge with
                    Conditions" - so although there are a number of Seas in this list, that's
                    what they are reporting</p>

                <div class="table-responsive">
                    <table id="table-river" data-id="river" class="table table-spills table-striped mt-3">
                        <thead>
                        <tr>
                            <td>Rank</td>
                            <td>River</td>
                            <td>Company</td>
                            <td>Sewage Dumps</td>
                            <td>Change</td>
                            <td>Duration (Hours)</td>
                            <td>Change</td>
                        </tr>
                        </thead>
                        {{{riverTableRows}}}
                    </table>
                </div>
            {{/components/section}}
        </div>
    </div>
</div>

<script>
    new DataTable('#table-river',
            {
                pageLength: 20,
                dom: "<'row'<'col-md-8'p><'col-md-4'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i>>"
            });
</script>

<div class="container">
    <div class="row">
        <div class="col">{{> chunks/data-sources }}</div>
    </div>
</div>

{{> chunks/footer }}

</body>
</html>