<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Top of the Poops | Shellfish Area | {{ name }}</title>
    <meta name="description" content="Analysing sewage dumps by water companies at {{ name }}">

    {{> chunks/favicons }}
    {{> chunks/meta-styles }}
    {{> chunks/meta-scripts }}

    <link rel="stylesheet" href="/assets/css/leaflet.css"/>
    <script src="/assets/js/leaflet-1.9.3/leaflet.js"></script>

    {{> components/meta-opengraph
            title=(concat "Shellfish Area | " name)
    }}

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
{{> chunks/title }}

{{#> components/jumbotron }}
    {{ name.value }} polluted by sewage {{numberFormat summary.count.count}} times in {{summary.year}} - lasting
    {{numberFormat summary.duration.hours}} hours
{{/components/jumbotron}}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div id="map" class="map">
                <div style="display:none" data-map-attribution>
                    &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors <br/>
                    Contains OS Data &copy; Crown copyright &amp; database right 2021-2022<br/>
                    &copy; <a href="https://top-of-the-poops.org">Top of the Poops</a> 2021-2023
                </div>
            </div>
            {{#each boundaries}}
                <div style="display: none" class="map-geojson">{{this}}</div>
            {{/each}}
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="card  mb-3">
                        <div class="card-header">Totals for {{ name }} in {{summary.year}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{summary.locationCount}} Sites polluted by {{join summary.companies
                                                                                                      ', '}}</h5>
                            <div class="card-text">
                                {{numberFormat summary.count.count}} sewage dumps<br>
                                <span class="spill-hours">{{numberFormat summary.duration.hours}}
                                    h </span>duration<br>
                            </div>

                            <small class="text-muted">
                                {{> chunks/explain-duration summary.duration}}
                                {{> chunks/explain-count summary.count}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card  mb-3">
                        <div class="card-header">How does {{name}} compare?</div>
                        <div class="card-body">
                            <div class="card-text">
                                <p>{{name}} was the #{{rank.rank}} most polluted shellfish area in England & Wales, by duration of sewage overflows, as reported by the water companies</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card  mb-3">
                        <div class="card-header">Take Action</div>
                        <div class="card-body">
                            <div class="card-text">
                                {{> components/share-facebook share}}
                                {{> components/share-twitter  share}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{#if constituencyRank}}
            <div class="row">
                <div class="col">
                    <div class="card  mb-3">
                        <div class="card-header">Local Constituency</div>
                        <div class="card-body">
                            <div class="card-text">
                                <a href="{{constituencyRank.constituency.uri}}">
                                    <button class="btn btn-primary mb-2">
                                        {{constituencyRank.constituency.name}}<span class="badge badge-info ml-1">{{numberFormat constituencyRank.count.count}}</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>

<div class="container">

    {{>chunks/horrible-nav}}

    <div class="row">
        <div class="col">
            {{#> components/section title=(concat "Pollution Summary " summary.year)}}

                <p>Here are all the reported sewage overflow totals for {{ name }} in {{ summary.year }}.</p>

                <p><b>Accuracy Warning</b> We use data from the water companies, but we are seeing many anomalies, that make us believe that
                     location information is quite poor. The situation is likely <b>far worse</b> than reported here.</p>

                <p>Other CSOs may also be located nearby, however the water companies claim that these do not affect the water quality here.</p>
                <div class="table-responsive">
                    <table id="table-csos" class="table">
                        <thead>
                        <tr>
                            <th>Company</th>
                            <th>Waterway</th>
                            <th>Site</th>
                            <th>Sewage Dumps</th>
                            <th>Duration (Hours)</th>
                            <th>Reporting %</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each csos}}
                            <tr data-class="cso" data-lat="{{this.cso.location.lat}}"
                                data-lon="{{this.cso.location.lon}}">
                                <td class="align-middle" data-company="{{this.cso.company.name}}">
                                    <a href="{{this.cso.company.uri}}">{{this.cso.company.name}}</a>
                                </td>
                                <td class="align-middle" data-waterway="{{this.cso.waterway.name}}">
                                    <a href="{{this.cso.waterway.uri}}">{{this.cso.waterway.name}}</a>
                                </td>
                                <td class="align-middle"
                                    data-sitename="{{this.cso.sitename}}">{{this.cso.sitename}}</td>
                                <td class="align-middle" data-count="{{this.count.count}}">{{numberFormat this.count.count}}</td>
                                <td class="align-middle" data-duration="{{this.duration.hours}}">{{numberFormat
                                        this.duration.hours}}</td>
                                <td class="align-middle">{{numberFormat this.reporting}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/components/section}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">{{> chunks/data-sources }}</div>
    </div>
</div>

{{> chunks/footer }}
<script>
    const myStyle = {
        "color": "#ff7800",
        "weight": 5,
        "opacity": 0.65
    };

    const map = L.map("map", {
        scrollWheelZoom: false,
        dragging: !L.Browser.mobile,
        tap: !L.Browser.mobile,
        maxZoom: 15.5,
    });

    L.tileLayer(
            'https://maps.top-of-the-poops.org/styles/v1/{z}/{x}/{y}.png',
            {
                attribution: document.getElementById("map").querySelector("[data-map-attribution]").innerHTML
            }
    )
            .addTo(map);

    const bathingAreaLayers = Array.from(document.getElementsByClassName("map-geojson"))
            .map ( it => L.geoJSON(JSON.parse(it.textContent), {style: myStyle}))

    bathingAreaLayers.forEach(it => it.addTo(map))

    const geoBounds = bathingAreaLayers.reduce((acc, m) => {
        if (acc == null) {
            return m.getBounds();
        } else {
            return acc.extend(m.getBounds())
        }
    }, null)

    const attr = (a, tr) => {
        const attributeName = `data-${a}`
        const f = tr ? tr : (n => n);
        return n => f(n.attributes[attributeName].value)
    };

    const text = (tr) => {
        const f = tr ? tr : (n => n);
        return n => f(n.textContent)
    };

    const markerIcon = (colour) => {
        return L.icon({
            iconUrl: `/assets/icons/leaflet/marker-icon-${colour}.png`,
            iconRetinaUrl: `/assets/icons/leaflet/marker-icon-2x-${colour}.png`,
            iconAnchor: [5, 55],
            popupAnchor: [10, -44],
            iconSize: [25, 41]
        })
    }

    const markerBlue = markerIcon("blue")
    const markerRed = markerIcon("red")

    const durationIcon = (n) => n > 700 ? markerRed : markerBlue;

    const lat = attr("lat", Number)
    const lon = attr("lon", Number)

    const company = attr("company")
    const sitename = attr("sitename")
    const waterway = attr("waterway")
    const count = attr("count", Number)
    const duration = attr("duration", Number)

    const markers = Array.from(document.getElementById("table-csos").querySelectorAll("tr[data-class='cso']"))
            .map(it => {
                return {
                    lat: lat(it),
                    lon: lon(it),
                    company: company(it.querySelector("[data-company]")),
                    waterway: waterway(it.querySelector("[data-waterway]")),
                    sitename: sitename(it.querySelector("[data-sitename]")),
                    count: count(it.querySelector("[data-count]")),
                    duration: duration(it.querySelector("[data-duration]"))
                }
            })
            .map(it => {
                return {
                    lat: it.lat, lon: it.lon, duration: it.duration,
                    text: `${it.sitename}<br/>${it.waterway}<br/>${it.count} Dumps / ${it.duration} hours by ${it.company}`
                }
            })
            .map(it => L.marker([it.lat, it.lon], {icon: durationIcon(it.duration)}).bindTooltip(it.text))


    markers.forEach(it => it.addTo(map))

    const bounds = markers.reduce((acc, m) => {
        if (acc == null) {
            return geoBounds != null ? geoBounds.extend(m.getLatLng()) : L.latLngBounds(m.getLatLng(), m.getLatLng());
        } else {
            return acc.extend(m.getLatLng())
        }
    }, null)

    map.fitBounds(bounds)
</script>


<script>
    new DataTable('#table-csos',
            {
                pageLength: 10,
                dom: "<'row'<'col-md-8'p><'col-md-4'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i>>"
            });
</script>

</body>
</html>