<div class="col mb-4">
    <div class="card media-card h-100">
        <a href="{{uri}}"><img src="{{imageUri}}" class="card-img-top"
                                    alt="Article image for {{publication}}"></a>
        <div class="card-body">
            <h5 class="card-title">{{publication}}</h5>
            <p class="card-text">{{title}}</p>
            <p class="card-text"><small class="text-muted">{{dateFormat date}}</small>
            </p>
        </div>
    </div>
</div>
