<div class="card h-100 align-items-center">
    <a href="{{linkUri}}"><img src="{{imageUri}}" class="mt-3 card-img-top"
             style="height: 50px; width: auto"
                               alt="Logo for {{name}}"></a>
        <div class="card-body">
            <h5 class="card-title"><a href="{{linkUri}}" class="quiet-link">{{name}}</a></h5>
        </div>
    </a>
</div>
